body {font-family: 'Montserrat', sans-serif; width:100%; background-color:#f1f1f1; margin:0 auto;}
.start {background-color:#FFF; margin:5% 10% 0; padding:30px;}
.logo {height:150px;}
.untertitel {color:#999;}
.facebook {background-image: url(img/facebook_1.png); width:30px; height:30px; display:inline-block; margin-right:10px;}
.facebook:hover {background-image: url(img/facebook.png); width:30px; height:30px;}
.instagram {background-image: url(img/instagram_1.png); width:30px; height:30px; display:inline-block; margin-right:10px;}
.instagram:hover {background-image: url(img/instagram.png); width:30px; height:30px;}
.social-media {text-align:right;}
.slider {margin:0 10% 0; background-color:#b59fa8;}
.text-zitat {font-size: 2.5em;}
.header-bild { margin:0 10% 0;}
.header-bild img {width:100%;}
.center {text-align:center;}
.zitat {padding:30px;}

footer {background-color:#000; position:fixed; bottom:0; width:100%; margin: 50px 0 0 0; right:0;}
footer ul.footer {list-style:none; text-align:center;}
footer ul.footer li {display:inline; padding-right:50px;}
footer ul.footer li a {text-decoration:none; color:#34b6d5}
footer ul.footer li a:hover {text-decoration:underline; color:#999;}

.video {margin: 0 auto;  padding:4% 0;}
.bg-video {background:white;margin:0% 10% 5%; padding: 30px 0;}
.myvideo {text-align:center;}
.iframe-video {margin:30px auto; display:block;}

.black {background:black; border:black;}
.black:hover {background:#666; border:#666;}
.button-link a {color:white;}


@media (max-width:576px){
.iframe-video {width:240px; height:135px;}
}